{% trans_default_domain 'projects' %}

<table>
    <tbody>
        <tr class="table-tr-header">
            <td width="{{ FIRST_COL_WIDTH }}%;"></td>
            <td width="{{ SECOND_COL_WIDTH }}%;"></td>
            <td width="{{ FIRD_COL_WIDTH }}%;"></td>
            <td width="{{ FOURTH_COL_WIDTH }}%;"></td>
            <td width="{{ FIFTH_COL_WIDTH }}%;"></td>
        </tr>
        <tr>
            <td class="border-0"></td>
            {# Dossier de prospection #}
            <td colspan="3" class="folder-prospection border-0 text-weight-bold text-uppercase">
                {{ 'pdf.title.prospection_folder'|trans }}
            </td>
            {# Logo du pdf #}
            <td rowspan="2" class="pdf-td-logo border-0">
                <img src="{{ absolute_url(asset('images/logo/bbat_pdf_logo.png')) }}" alt="bbat-pdf-logo" width="{{ PDF_LOGO_WIDTH }}%">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="border-0"></td>
            <td rowspan="{{ empty_row_rowspan }}" class="border-0"></td>
            {# Date de premiére demande #}
            <td class="first-ask-date align-start">
                <span class="text-calibri text-weight-600 text-danger">{{ 'pdf.label.first_ask_date'|trans }} :</span>
                <span class="text-calibri">{{ resolve([project, 'createdAt'], null) ? resolve([project, 'createdAt'])|date('d/m/Y H:m') }}</span>
            </td>
        </tr>
        <tr>
            <td
                rowspan="{{ prospect_rowspan }}" 
                colspan="2" 
                class="rotating-title prospect text-weight-bold text-uppercase"
                style="word-break: keep-all;"
            >
                <div class="title-container prospect-title" style="width: 30px;">
                    {{ 'pdf.title.prospect'|trans }}
                </div>
            </td>
            <td class="contact td-label">
                {# CONTACT #}
                {% include 'project/pdf/prospection_folder/contact.html.twig' %}
            </td>
            <td class="td-label">
                {# ADRESSE CHANTIER #}
                {% include 'project/pdf/prospection_folder/construction_site_address.html.twig' %}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="td-label">
                {# DESCRIPTION DE L'OPERATION #}
                {% include 'project/pdf/prospection_folder/operation_description.html.twig' %}
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="td-label">
                {# TYPE DE MARCHE #}
                {% include 'project/pdf/prospection_folder/market_type.html.twig' with {
                    value: resolve([project, 'marketType'], null),
                    elements: constant('\\App\\Entity\\Constants\\Project\\MarketType::MARKET_TYPES_CHOICES'),
                    transDomain: 'projects',
                    transPrefix: 'pdf.label.market_type_label.',
                    options: {
                        titleClass: 'pb-10'
                    }
                } %}
            </td>
            <td>
                {# TYPE DE MARCHE A DROIT : marche public, marche prive, A.O public, A.O prive #}
                {% include 'project/pdf/prospection_folder/market_type_2.html.twig' with {
                    value: resolve([project, 'marketType'], null),
                    options: {
                        tableClass: 'mb-1 mt-1',
                    }
                } %}
            </td>
        </tr>
        <tr>
            <td class="encryption-type align-start">
                {# TYPE DE CHIFFRAGE #}
                {% include 'project/pdf/prospection_folder/encryption_type.html.twig' %}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="td-label">
                {# BONHOMME EST-IL #}
                {% include 'project/pdf/prospection_folder/is_bonhomme.html.twig' with {
                    value: resolve([project, 'bonhomePercentage'], null),
                } %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {# NORME EN 1090... #}
                {% include 'project/pdf/prospection_folder/norme_1090.html.twig' %}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="project-planning">
                {# PLANNING DU PROJET #}
                {% include 'project/pdf/prospection_folder/project_planning.html.twig' %}
            </td>
        </tr>
        <tr>
            <td class="td-label">
                {# PRIORISATION DU DOSSIER #}
                {% include 'project/pdf/prospection_folder/folder_prioritization.html.twig' %}
            </td>
            <td class="td-label">
                {# REPONSE POUR LE #}
                {% include 'project/pdf/prospection_folder/response_for_the.html.twig' %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {# CHARGE D'AFFAIRE, ECONOMISTE #}
                {% include 'project/pdf/prospection_folder/business_reponsable_and_economiste.html.twig' %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {# NOM DU DOSSIER SUR LE SERVEUR #}
                {% include 'project/pdf/prospection_folder/folder_name_in_the_cloud.html.twig' %}
            </td>
        </tr>
    </tbody>
</table>