@mixin datatable_filters () {
    .app-filters-container {
        table.table {
            thead, tbody {
                tr {
                    th {
                        font-size: 12px;
                        text-align: center;
                        border: none;
                    }
                    th, td {
                        padding: 0;
                        span.filter-label {
                            display: none;
                        }
                        input, select {
                            padding: 0;
                            border: none;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border: 1px solid $table-border-color;
                    }
                }
            }
        }
    }
}

/**
 * Filters design for xs viewport
 * Display the span only if the viewport is xs
*/
@include media-breakpoint-only(xs) {
    .filter-collapse-container {
        border-bottom: 1px solid $border-color;
    }
    .app-filters-container {
        table.table {
            thead {
                display: none;
            }
            tbody {
                tr td {
                    display: flex;
                    width: 100%;
                    padding-bottom: 10px !important;
                    span.filter-label {
                        display: inline-block !important;
                        width: 30%;
                    }
                    input, select {
                        border-right: 1px solid $table-border-color !important;
                    }
                }
            }
        }
    }
}

@mixin _datatable_filters {
    @include datatable_filters;
}

@include _datatable_filters;