{% trans_default_domain 'projects' %}

{# business_responsable height fixer #}
{% set BUSINESS_HEIGHT_FIXER = 1 %}
{# total height count 8 #}
{% set TOTAL_HEIGHT_COUNT = 16 %}
{# business responsible height count 4 #}
{% set BUSINNESS_RESPONSIBLE_HEIGHT = space_value(8, TOTAL_HEIGHT_COUNT, BUSINESS_HEIGHT_FIXER) %}
{# economiste height count 4 #}
{% set ECONOMISTE_HEIGHT = space_value(6, TOTAL_HEIGHT_COUNT, BUSINESS_HEIGHT_FIXER) %}

{# width only #}
{% set COL_COUNT = 120 %}
{# label width 14 #}
{% set LABEL_WIDTH = space_value(30, COL_COUNT) %}
{% set  VALUE_WIDTH = space_value((COL_COUNT - 30), COL_COUNT) %}

{# charge(e) d'affaire #}
{% set responsibleOfBusiness = resolve([project, 'businessCharge'], null) %}
{# economiste #}
{% set economiste = resolve([project, 'economist'], null) %}

<table class="table-borderless">
    <tbody>
        <tr height="{{ BUSINNESS_RESPONSIBLE_HEIGHT }}px" class="align-start">
            <td>
                <span class="text-left text-uppercase text-weight-bold text-underline text-label">{{ 'pdf.label.business_responsible'|trans }} :</span>
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    {{ responsibleOfBusiness }}
                {% endif %}
            </td>
        </tr>
        <tr height="{{ ECONOMISTE_HEIGHT }}px" class="align-start">
            <td>
                <span class="text-left text-uppercase text-weight-bold text-underline text-label">{{ 'pdf.label.economist'|trans }} :</span>
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    <span>{{ economiste }}    </span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>