{% trans_default_domain 'projects' %}

{# total operation_description_col_count = 56 #}
{% set OPERATION_DESCRIPTION_COL_COUNT = 56 * 2 %}

{# value label count = 7 #}
{% set LABEL_WIDTH = space_value(14, OPERATION_DESCRIPTION_COL_COUNT, COL_PX_SIZE) %}
{% set VALUE_WIDTH = space_value(OPERATION_DESCRIPTION_COL_COUNT - 14, OPERATION_DESCRIPTION_COL_COUNT, COL_PX_SIZE) %}

{% set OPERATION_DESCRIPTION_HEIGHT_FIXER = 1.15 %}
{# total col count operation description = 12 #}
{% set OPERATION_DESCRIPTION_COUNT = 24 %}
{# operation description col count 9 #}
{% set OPERATION_DESCRIPTION_HEIGHT = space_value(18, OPERATION_DESCRIPTION_COUNT, OPERATION_DESCRIPTION_HEIGHT_FIXER) %}
{# surface value = 3 #}
{% set OPERATION_DESCRIPTION_SURFACE_HEIGHT =  space_value(6, OPERATION_DESCRIPTION_COUNT, OPERATION_DESCRIPTION_HEIGHT_FIXER) %}
{# padding bottom #}

{% set operationDescriptionSurface = resolve([project, 'descriptionOperation'], null) %}

<table class="table-borderless">
    <tbody>
        <tr>
            <td class="text-center" colspan="2">
                <div class="label">{{ 'pdf.label.operation_description'|trans }}</div>
            </td>
        </tr>
        <tr>
            <td
                width="{{ LABEL_WIDTH }}"
                height="{{ OPERATION_DESCRIPTION_HEIGHT }}px;"></td>
            <td width="{{ VALUE_WIDTH }}"></td>
        </tr>
        <tr>
            <td
                width="{{ LABEL_WIDTH }}" 
                height="{{ OPERATION_DESCRIPTION_SURFACE_HEIGHT }}px;" 
                class="text-uppercase surface"
            >
                {{ 'pdf.label.surface'|trans }}:
            </td>
            <td width="{{ VALUE_WIDTH }}">
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    <span class="td-value">{{ operationDescriptionSurface }}</span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>