/**
 * Override Bootstrap's default variables
 */

// primary color
$app-primary: #2e3192;

// secondary color
$app-secondary: #f69c4a;

// body font size
$font-size-base: (14 / 16) * 1rem;

// body font family
$font-family-base: Roboto;

// custom control
// remove the background and box shadow made by adminLTE
// and use the default value provided by bootstrap
$custom-control-indicator-bg: #FFF;
$custom-control-indicator-box-shadow: inset 0 1px 1px rgba($black, .075);

// add theme colors 
$theme-colors: (
    app-primary: $app-primary,
    app-primary-1: lighten($app-primary, 15),
    app-secondary: $app-secondary,
);


/**
 * Dropdown
 */
$dropdown-item-padding-y: _rem(8);
