$root-em: 16;
$default-em: 16;
$base-unit: ($default-em / $root-em) * 1rem;
$app-spacer: ($default-em / $root-em) * 1rem;
$app-spacer-px: 16px;
// Reduce the width of the sidebar from 250px to 230px;
$sidebar-width: 230px;


@function _rem($px-value) {
	@return $px-value / 16 * 1rem;
}

// @import './colors';
@import './bootstrap_variables';

/**
 * Map containing different widths that will be used by the app
 */
$widths: (
    loginPageLogo: _rem(256),
);

/**
 * Map containing different heights used by the app
 */
$heights: (
    sidebarNavlink: _rem(44),
    badge: _rem(15.65),
    dtRow: _rem(34),
);

$appSpacings: (
    sidebarNavlinkIconMr: _rem(12),
    sidebarNavlinkIconMl: _rem(-4),
);
