@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_mixins';
@import './colors';
@import './variables';
// @import '../fonts/_fonts';
@import './common/common';
@import './adminlte';
@import './sweetalert';
@import 'flag-icon-css/sass/flag-icon.scss';
@import 'select2/src/scss/core.scss';
@import 'bootstrap-select/sass/bootstrap-select.scss';

#app-loader.loading-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0a0a0a73;
    z-index: 1;
    display: none;
    z-index: 1050;
    .spinner {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -50px;
    }
}