.bordered {
    border: $border !important;
}
.border-0 {
    border: none;
}
.border-top-0 {
    border-top: none !important;
}
.border-bottom-0 {
    border-bottom: none !important;
}
.border-left-0 {
    border-left: none !important;
}
.border-right-0 {
    border-right: none !important;
}
.border-top {
    border-top: $border !important;
}
.border-bottom {
    border-bottom: $border !important;
}
.border-left {
    border-left: $border !important;
}
.border-right {
    border-right: $border !important;
}
.border-collapse {
    border-collapse: collapse !important;
}
.text-weight-bold {
    font-weight: bold;
}
.text-weight-500 {
    font-weight: 500;
}
.text-weight-600 {
    font-weight: 600;
}
.text-normal {
    font-weight: normal;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-danger {
    color: red !important;
}
.text-underline {
    text-decoration: underline;
}
.text-lg {
    font-size: $title;
}
.text-md {
    font-size: $default-font-size;
}
.text-sm {
    font-size: $label;
}
.text-xs {
    font-size: _rem(8);
}
.signature-text {
    font-size: $signature-title;
}
.text-calibri {
    font-family: 'Calibri';
}
.text-italic {
    font-style: italic;
}
.align-start {
    vertical-align: top;
}
.align-middle {
    vertical-align: middle;
}
.align-end {
    vertical-align: bottom;
}
.text-nowrap {
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mt-1 {
    margin-top: 1rem;
}
.pr-05 {
    padding-right: $spacing / 2;
}
.pl-05 {
    padding-left: $spacing / 2;
}
.pt-05 {
    padding-top: $spacing / 2;
}
.pt-1 {
    padding-top: $spacing;
}
.p-0 {
    padding: 0 !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.word-word {
    word-break: break-all;
}