$base-font-size: 12;

@function _rem($px-value) {
	@return $px-value / $base-font-size * 1rem;
}

// the signature-title may change several time so we put it in another variable
$text-sm: _rem(9);
// signature-title
$signature-title: _rem(10);
// date de premiere demande
$fistAskDate: _rem(13);

$label: _rem(10);
// put default font size to 11px because 11px is the most used font size in the word file
$default-font-size: _rem(11);
$title: _rem(16);
// true value in word file is 18px
$main-title: _rem(24);
$spacing: 1rem;
$checkbox-bg:#2196F3;
$checkbox-color: #fff;

$table-width: 100%;
$table-td-border-color:#000;
$table-td-padding: 6px;

$commercialBackground: red;
$prospectBackground: rgb(255, 192, 0);
$signaturesBackground: green;

$border: 1px solid $table-td-border-color;