{% block _client_client_contacts_entry_row %}
    <div class="contact-entry-container">
        <div class="card card card-outline card-app-secondary h-100">
            <div class="card-header">
                <div class="card-tools"></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.fax) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.job) }}
                    </div>
                    <div class="col-sm-12">
                        {{ form_row(form.rawAddress) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}