{% trans_default_domain 'client' %}

{% extends 'client/layout.html.twig' %}

{% block title %} {{ 'title.show_client'|trans }} | {{ parent() }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" style="height: auto;"{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.show_client'|trans,
        links: [
            {label: 'title.home'|trans({}, 'messages'), routeName: 'home'},
            {label: 'title.client_manger'|trans, routeName: 'client.list'},
            {label: 'title.show_client'|trans},
        ],
    } %}
        {% block extra_title %}
            {% embed 'client/_actions.html.twig' with {
                id: client.id,
                showShow: false,
                redirectPah: 'client.show',
            } %}
                {% block dropdown_toggler %}
                    <button
                        class="header-btn"
                        href="#" 
                        role="button"
                        id="dropdownMenuButton" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        <span class="material-icons">more_horiz</span>
                    </button>
                {% endblock %}

                {% block actions %}
                    {{ parent() }}
                    <a class="dropdown-item" href="{{ path('client.list') }}">
                        <i class="material-icons">arrow_back</i>
                        {{ 'action.back_to_list'|trans }}
                    </a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">    
                <div class="card card-outline-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.prospect'|trans }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'client/show_extension/client.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">    
                <div class="card card-outline-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.address'|trans }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'client/show_extension/address.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card card-outline-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.contacts'|trans }}</h3>
                    </div>
                    <div class="card-body p-0 pb-4">
                        {% include 'client/show_extension/contacts.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#contacts-table').dataTable({
                dom: `<'app-dt-list'
                    <'container-fluid pt-3'<'row'<'col-sm-6 offset-sm-6'f>>
                    <'row'<'col-sm-12'tr>>
                >>`
            })
        })
    </script>
{% endblock %}
