#client_type {
    display: flex;
    .form-check {
        width: 50%;
    }
}
.was-validated select.form-control:invalid, select.form-control.is-invalid {
    background-image: none;
}
.row.align-items-center {
    .can-login-field {
        .form-group {
            margin: 0;
        }
    }
}
@mixin input_file {
    .vich-file {
        .custom-file {
            .custom-file-input {
                opacity: 1;
                margin-top: 4px;
            }
        }
    }
}

@include input_file;