<aside class="main-sidebar sidebar-dark-app-primary-1 elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('home') }}" class="brand-link logo-switch">
        <img src="{{ asset('logo/logo_short.png', 'images') }}" alt="{{ 'app_name'|trans }}" class="brand-image-xl logo-xs" style="opacity: .8">
        <img src="{{ asset('logo/logo_light.svg', 'images') }}" alt="{{ 'app_name'|trans }}" class="brand-image-xs logo-xl" style="opacity: .8">
        <span class="brand-text font-weight-light sr-only" aria-hidden="true">{{ 'app_name'|trans }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        {% if includeUserPanel ?? false %}
            {% include 'layout/sidebar/_user_panel.html.twig' %}
        {% endif %}

        <!-- SidebarSearch Form -->
        {% if includeSearchForm ?? false %}
            {% include 'layout/sidebar/_search_form.html.twig' %}
        {% endif %}

        <!-- Sidebar Menu -->
        <nav class="mt-4">
            {#
                Menu rendered with knp-menu-bundle
                \App\Menu\SidebarMenuBuilder::createSidebarMenu()
            #}
            {{ knp_menu_render('app_sidebar_menu', {
                'currentClass': 'nav-item-active',
                'currentClassLink': 'active',
                'ancestorClass': 'active',
                'template': 'layout/menu/sidebar_menu.html.twig',
            }) }}
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
