{% trans_default_domain 'project' %}

{% extends 'project/layout.html.twig' %}
{% block title %}{{ 'title.list'|trans }} | {{ parent() }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" style="height: auto;"{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.project_manager'|trans,
        links: [],
    } %} {% endembed %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-outline card-app-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.project_list'|trans }}</h3>
                        <div class="card-tools">
                            {% if is_granted('ROLE_PROJECT_ADD') %}
                                <a href="{{ path('project.new') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'title.add_project'|trans({}, 'project') }}">
                                    <i class="material-icons">add</i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body py-0 pt-md-3 filter-collapse-container">
                        {% include template_datatable_filters with {
                            datatable: datatable,
                            filterCollapseId: 'user-filter-collapse',
                        } %}
                    </div>
                    <div class="card-body pt-0">
                        <div id="{{ datatable.tableId }}">Chargement...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            window.App.DataTable.initAppDataTables({
                columnNames: [
                    'project_siteCode',
                    'project_prospect',
                    'project_user_email',
                    'project_roadmap',
                    'project_amount_subcontracted_work',
                    'project_amount_bbi_specific_work',
                    'project_global_amount',
                    'created_at',
                    'actions',
                ],
                excludedColumns: [],
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
                debug: false,
                enableFormatter: true,
                redrawEvent: 'project.deleted',
            })
        });
    </script>
{% endblock %}
