{% trans_default_domain 'users' %}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ 'title.user_list'|trans }} | {{ parent() }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" style="height: auto;"{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: '<i class="material-icons">people</i>' ~ 'title.user_list'|trans([], 'users'),
        links: [],
    } %}{% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card card-outline card-app-primary">
            <div class="card-header">
                <h3 class="card-title">{{ 'title.list'|trans }}</h3>
                <div class="card-tools">
                    {% if is_granted('ROLE_USER_ADD') %}
                        <a href="{{ path('user.new') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'title.add_user'|trans({}, 'users') }}">
                            <i class="material-icons">add</i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body py-0 pt-md-3 filter-collapse-container">
                {% include template_datatable_filters with {
                    datatable: datatable,
                    filterCollapseId: 'client-filter-collapse',
                } %}
            </div>
            <div class="card-body pt-0">
                <div id="{{ datatable.tableId }}">Chargement...</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            window.App.DataTable.initAppDataTables({
                columnNames: [
                    'user_profile_image', 'user_email', 'user_firstName', 'user_lastName', 
                    'user_phone', 'user_fax', 'user_job', 'created_at',
                    'updated_at', 'user_can_login', 'actions'
                ],
                excludedColumns: [9],
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
                debug: false,
                enableFormatter: true,
                redrawEvent: 'user.deleted',
            });

            var resetPassword = new window.App.ResetPassword();
            resetPassword.init();
        });
    </script>
{% endblock %}

