// $swal2-icon-size: 2rem;
$swal2-title-font-size: (20 / 16) * 1rem;
$swal2-content-font-size: 1rem;
$swal2-input-font-size: 1rem;
// $swal2-close-button-font-size: 2.5em !default;
$swal2-confirm-button-font-size: 1rem;
$swal2-cancel-button-font-size: 1rem;
$swal2-toast-padding: 8px;

$swal2-confirm-button-background-color: $app-primary;
$swal2-cancel-button-background-color: $app-secondary;
$swal2-confirm-button-font-size: 14px;
$swal2-cancel-button-font-size: 14px;
$swal2-button-padding: 6px 12px;
$swal2-button-font-weight: normal;
$swal2-cancel-button-color: #000;

@import '~sweetalert2/src/sweetalert2.scss';

@mixin swal2_style {
    .swal2-actions {
        .swal2-styled {
            &.swal2-confirm {
                display: inline-block;
				min-width: 80px;
            }
        }
    }
}

@include swal2_style;